@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*Starta med å definere body og videre display: grid;*/
body{
    background-color: white;
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 5px 0px;
    margin: 0;
    padding: 0;
    max-width: 1600px;
    height: auto;
}
/*Definerer grid kolonner på 3 og seier kva dei skal innehalde*/
#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/*Definerer plasseringa til header i grid*/

header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*Definerer plasseringa til main i grid*/

main {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*Definerer plasseringa til footer i grid*/

footer{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* Endrer så skip-link klassen, som skal vere på ett sted, altså position: fixed;, nede i hjørnet, og sende oss til toppen av sida, altså header*/

.skip-link{
    position: fixed;
    padding: 13px 10px;
    background-color: #252525;
    border-radius: 3px; /*Kant på boksen skal ver avrunda*/
    right: 30px; /*bestem avstand frå høgre sida*/
    bottom: 40px; /*Avstand fra bunn*/
}

/*-------Startar med header for dei tre sidene.-------*/

/* Laga til css til alle headerene ved hjelp av css flex*/

header{
    display: flex;
    flex-direction: row; /* Header skal vere på ei horisontal linje */
    justify-content: space-between; /* avtsand mellom barnelement */
    align-items: center; /* barnelement skal ligge sentrert */
    padding: 20px;
}

/* Legger knappane i header på ei rekke ved hjelp av flex*/

.navigasjon-header ul{
    display: flex; 
    flex-direction: row; /* ligge horisontalt, altså på x-aksen*/
    gap: 15px; /* Avstand mellom barnelementa */
}

/*Får vekk list-style frå lista i header*/

.navigasjon-header ul li{
    list-style: none; 
}

/*Sidan navigasjonsstilen skal enders etter kvar side man er på, lagde eg to klasser, on-site og off-site, der on-site er det elementet som skal tilhøyre sida vi er på*/
/*Gir on-site og off-site ynskja farge, stil*/
.on-site{
    text-decoration: none;
    font-weight: 600; /*Gjer teksten tjukk*/
    border-bottom: solid; /* Linje under elementet */
    border-color: #e6bd43;
    border-width: 2px; 
    color: black; /*Farge på tekst*/
}

.off-site{
    text-decoration: none;
    font-weight: 100; /*Gjer teksten tynn*/
    color: black; /*Farge på tekst*/
}

/*Styler kontakt knappen, sidan den er lik på alle*/

.contact{
    text-decoration: none;
    background-color: #e6bd43; /* farge på contact knappen*/
    color: black;
    font-weight: 900; /* bold tekst*/
    padding: 10px; /* Indre avstand slik at fargen går 10px rundt på kvar side */
}

/*Bruker hover for å bestemme fargen til kontakt ved hover*/

.contact:hover{
    background-color: #000; /* Ved hover --> anna farge*/
    color: #e6bd43; /* endrer også fargen på teksten ved hover*/
}

/* Starta på main index som seier at alle barne elementa til da main skal ligge under kvarandre, column*/
.main-index{
    display: flex;
    flex-direction: column; /* for å unngå at det flytta på seg */
    gap: 30px;
}

/*Bestem storleiken til videoen og korleis den skal visast i forholdet til storleiken den har å jobbe med*/

.video{
    width: 100%; /* videoen skal dekke heile bredden */
    height: 450px; /* definerer høgde */
    object-fit: cover; /* videoen skal vere cover slik at den ser vanlig ut */
    position: absolute;
    z-index: -1; /*z-index sende den under andre element*/
    opacity: 60%; 
}

/*posititon relativ for å kunne plassere elementer over .video*/

.video-container{
    position: relative;
}

/*Legg elementa under kvarandre og setter dei i senter ved hjelp av flexbox*/

.main-1{
    display: flex;
    flex-direction: column;
    align-items: center; /* Dei skal ligge i midten */
    gap: 20px;
    margin-bottom: 50px;
}

/* Style av hovudtittelen på index*/

.main-1 h1{
    padding-top: 50px;
    font-size: 60px;
}

/* Style av underteksten*/

.main-1 p{
    width: 600px;
    text-align: center;
}

/*Style på read more about us*/

.main-1 a{
    text-decoration: none;
    color: #000;
    background-color: #e6bd43;
    font-weight: 900;
    padding: 20px;
}
/*Style ved hover av knappen*/

.main-1 a:hover{
    background-color: #000;
    color: #e6bd43;
}

/*Legger elementa i dette foreldreelementet på kolonner v.h.a. flexbox. Bruker så margin for å fikse avstand uttafor elementa*/

.main-2{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 50%; /* Slik at den ikkje vert altofr brei og slik at den skal ver responsiv */
    text-align: center;
}
.main-2 h2{
    font-size: 40px;
}

.main-3{
    background-color: #e6bd43; /* bakrgunnsfargen til boks 2 på index */
    height: auto; /* høgden skal automatisk endrast ut ifrå bredde */
    padding: 20px 20px; /* paddign for å kontrolere fargen rundt */
    display: flex;
    flex-direction: row; /* legger bilete på rekke med tekst*/
    gap: 30px;
    align-items: center;
}

.main-3-tekst{
    display: flex;
    flex-direction: column; /* legg teksten under kvarandre */
    width: 60%;
}
 /* designa knappen read more about us */
.main-3-tekst a{
    text-decoration: none;
    color: #000;
    border: solid;
    font-weight: 700;
    padding: 20px 10px;
    width: 150px;
}
 /* design ved hover */
.main-3-tekst a:hover{
    color: #e6bd43;
    background-color: #000;
}
/* bilete på main, placeholder*/
.main-3 img{
    flex-shrink: 1; /*flex-shrink seie at den kan bli mindre, kan sjåast på mobil versjon*/
    max-width: 100%;
    height: auto;
}

.ourservices{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}
.our-services{
    display: flex;
    flex-direction: row;  /* our-services skal ligge på x aksen */
    margin: auto 80px;
    gap: 20px; /* avstand mellom barneelement */
}
 /* kvar og eit barneleement i forrige gruppe er eit eige foreldreleement.*/
.branding{
    display: flex;
    flex-direction: column; /*tekst under logo*/
    align-items: center;
}
 /* styler overskrifta */
.branding h4{
    font-weight: 900;
    font-size: large;
}
 /* styla ikonar */
.fa-users, .fa-code, .fa-wifi, .fa-cloud-arrow-up{
    font-size: 2em;
}
/* styler sign up seksjonen*/
.sign-up h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.sign-up{
    background-color: #a7a7a735; /*bagrunnsfarge på heile delen*/
    padding: 50px;
    display: flex;
    flex-direction: column; /* plassere på y-axis */
    align-items: center;
    gap: 50px;
}
/* knappen på sign up delen */
.submit{
    border: none;
    background-color: #e6bd43; /* bestemmer fargen og bakgrunnsfargen */
    color: #000;
    font-weight: 600;
    height: 50px;
    width: 120px;
}
/* endra farger ved hover */
.submit:hover{
    background-color: #000;
    color: #e6bd43;
}
/* designa email id. altså input email*/
#email{
    border: none; /*fjerna borderen på inputen*/
    background-color: #ffffff; /*setter ny farge*/
    height: 50px;
    width: 220px;
    padding-left: 10px;
}

#text{
    display: none;
}

/*Ender footer til alle sidene*/

/*ny farge til sosiale medie ikoner*/
.fa-square-instagram, .fa-facebook,  .fa-linkedin{
    color: white;
}
 /* bestem at ikonane skal ligge på ei rekke horisontalt*/
.socials{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
 /*heile footer*/
.bottom{
    display: flex;
    flex-direction: row; /* barnelement ligge på ei rekke/horisontalt*/
    justify-content: space-between; 
    align-items: center;
    background-color: #252525; /* bakgrunnsfarge på heile footer */
    color: white; /* farge på tekst */
    padding: 25px;
}
/* teskt i footer skal ver liten og slank*/
.bottom h4{
    font-weight: 200;
    font-size: small;
}

/*Starta på css til products.html*/

.products-h1{
    text-align: center; /* tekst på midten av elementet*/
    padding-top: 200px; /* top bottom padding pga. plassering*/
    padding-bottom: 200px;
    font-size: 40px;
}

.bakgrunn-products{
    width: 100%; /*bredde på portfolio bakrgunnsbilete*/
    height: 450px; /*høgde*/
    object-fit: cover; /*bilde skal covere bestemt storleik*/
    position: absolute; /*for å kunne ha den bak*/
    z-index: -1; /* skal under andre element */
    opacity: 60%; /* skal ikkje visest 100%*/
}

/*Tilpassa første foreldrelementet, då explore previos jobs del*/

.nav-explore{
    display: flex;
    flex-direction: row; /* ligge på x-aksen, horisontalt*/
    gap: 20px; /* avstand */
    margin: 0 4rem;

}

.nav-explore a{ /* styler sjølve knappane*/
    border: solid; /* solid border rundt heile */
    border-width: 2px;
    text-decoration: none;
    padding: 10px;
    color: #000; /* farge på tekst*/
}
/* knappane ved hover */
.nav-explore a:hover{
    border-color: #000;
    background-color: #000;
    color: #e6bd43;
}
/* h2 over knappane*/
.explore h2{
    border-bottom: solid; /* oransj strek under explore previous jobs*/
    border-width: 2px;
    border-color: #e6bd43;
    padding: 15px; /* avstand mellom h2 og streken*/
    font-size: 40px;
}

/*Endrer då dei tre seksjonene som er på products sida, som flex element*/

.branding-1, .design, .development{
    display: flex;
    flex-wrap: wrap; /* wrap når det ikkje er plass og legg bilete under (er by default flex-direction: row;*/
    max-width: 100%;/* skal ikkje vere breiere enn skjemren */
    margin: 0px 4rem;
    gap: 30px;
}

.branding-2 img, .design-2 img, .development-2 img{
    max-width: 100%; /* bredden til bileta skal ver 100%(definere seinere 350px)*/
    transition: transform .2s; /* dette er for hover, kor lenge skal transitionen ta*/
}


.branding-2 img:hover, .design-2 img:hover, .development-2 img:hover{
    transform: scale(1.1); /* mengden bileta skal gro på deo 0.2s ved hover*/
}
.design-2, .branding-2, .development-2{
    flex: 1 3 350px; /* flex med grow shrink og basis. kan gro 1, shrink 3 og skla i grunnlag ver 350px*/
}
/*id for dei ulike hovudtekstene til seksjonen*/
#branding, #design, #development{
    font-size: 40px;
    font-weight: 600;
    padding: 15px; /* gir den rom, blant anna mellom border og teksten*/
    border-bottom: solid; /* oransj border under teksten*/
    border-color: #e6bd43;
    border-width: 2px;
}

.products-over{
    border-bottom: solid;
    border-color: #e6bd43;
    border-width: 2px;
    margin: 4rem;
    padding-bottom: 10px;
}
 /*----- startar med about.html-----*/
.main-about{
    position: relative; /*delen over bilete*/
    display: flex;
    justify-content: flex-end; /*skal på slutten*/
    align-items: center;
}
/*biletet bak main-about*/
.bakgrunn-about{
    width: 100%;
    height: 450px;
    object-fit: cover; 
    position: absolute; 
    z-index: -1; /* legg den baka all anna*/
}

.about-h1{
    background-color: rgba(255, 255, 255, 0.772); /*bagrunnsfarge bak teksten over bilete*/
    width: 600px; /* bredde på dette for å bestemme kor bredt fargen skal gå*/
    margin-right: 30px; /* margin på høgre for å få avstand mellom fargen og kanten av sida*/
    padding: 40px;
}
 /*styla get in touch with us knappen*/
.contact-about{
    text-decoration: none;
    background-color: #e6bd43;
    color: black;
    font-weight: 900;
    padding: 15px 10px;
}
/*knappen ved hover*/
.contact-about:hover{
    background-color: #000;
    color: #e6bd43;
}
 /*teksten på toppen */
.company-name{
    font-weight: 400;
    font-size: 18px;
}
/* klient delen */
.ourclients{
    display: flex;
    flex-direction: column; /*ligge på kolonne, under kvarandre*/
    align-items: center;
    background-color: #e6bd43; /*gul bagrunssfarge*/
    width: 100%; /*i dette tilfelle, slik at fargen dekka heile bredden*/
    height: auto;
    padding: 50px 0px;
    margin: 20px 0px 0px 0px;
}


.ourclients h2{
    padding-bottom: 20px;
}

.clients{
    display: flex; 
    flex-direction: row; /* client logoene skal ligge på rekke*/
    gap: 30px;
}

.contact-us{
    background-color: #dfdfdf85; /*bakgrunnsfargen på contact us*/
}

.contact-us h2{
    text-align: center;
    margin: 0;
    padding: 50px;
}

.log-in-form, .information{
    display: flex;
    flex-direction: column; /*disse to skal ha barnelement på kolonne*/
    width: 30%;
}

.contact-us-section{
    display: flex;
    flex-direction: row; /* lon-in-form og .information skal ver på rekke attmed kvarandre*/
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px; /*legger til padding slik at innhaldet har meir mellomrom under, men fargen dekka dette*/
}

.log-in-form input{
    border: none;
    padding: 10px;
    margin: 10px 0px;
}
/*send message knappen*/
.send-message{
    background-color: #e6bd43;
    width: 10rem;
    font-weight: 600;
}
/*send message ved hover*/
.send-message:hover {
    background-color: #000;
    color: #e6bd43;
}
 /* storleik til maps*/
.google-maps{
    width: 100%;
    height: 200px;
}

.email-label{
    display: none;
}
/*byrja så med koden til mobil versjonen*/
@media only screen and (max-width: 768px){ /*bestem breakpoint ved 768px*/
    /*endrer grid på mpbil versjon*/
    #grid-container{
        grid-template-columns: 1fr; /*1 kolonne*/
        grid-template-areas: "header" "main" "footer";
    }

    header{
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;
    }

    main{
        grid-column: 1/ span 1;
        grid-row: 2/ span 1;
    }

    footer{
        grid-area: footer;
        grid-column: 1/ span 1;
        grid-row: 3/ span 1;
    }
    /*endra header til å ligge under kvarandre*/
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigasjon-header ul{
        display: flex;
        flex-direction: column; /*navigasjon skal også ligge vertikalt*/
        align-items: center;
        padding: 0;
        gap: 25px;
    }

    .main-1 p{
        width: 78.125vw;
    }

    .main-1 h1{
        font-size: 40px;
    }

    .video{
        display: none; /*fjerna video frå mobil-versjon*/
    }
    /*gjer vidoen om til eit bakrgunnsbilete*/
    .video-container{
        background-image: url(../img/workplace.jpg);
    }

    .main-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-3-tekst{
        align-items: center;
    }

    .readus{
        text-align: center ;
    }

    .our-services{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .ourservices{
        font-size: 30px;
    }

    .branding p{
        width: 60%;
    }

    .main-2{
        width: auto;
        text-align: center;
        margin: 20px 50px;
    }

    .sign-up{
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
    }

    .bottom{
        display: flex;
        flex-direction: column;
    }

    .about-h1{
        width: 70%;
    }
    .company-name{
        font-size: 0.9rem;
    }

    .about-h1 h1{
        font-size: 1.3rem;
    }

    .about-h1{
        margin: 40px auto;
        padding: 20px;
    }

    .about-h1 p{
        font-size: 1rem;
    }
    .bakgrunn-about{
        height: 500px;
    }
    .clients{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .contact-us-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .log-in-form, .information{
        width: 80%;
    }

    .contact:hover{
        background-color: #e6bd43;
        color: black;
    }

    .main-1 a:hover{
        background-color: #e6bd43;
        color: #000;
    }

    .main-3-tekst a:hover{
        color: #000;
        background-color: #e6bd43;
    }

    .submit:hover{
        background-color: #e6bd43;
        color: #000;
    }

    .nav-explore a:hover{
        border-color: #000;
        background-color:white;
        color: #000;
    }

    .branding-2 img:hover, .design-2 img:hover, .development-2 img:hover{
        transform: scale(1);
    }

    .contact-about:hover{
        background-color: #e6bd43;
        color: #000;
    }

    #email{
        width: 160px;
    }

    .submit{
        width: 90px;
        font-size: 15px;
    }
    .sign-up h2{
        font-size: 25px;
    }

}
